

.bigCounter div{
    display: inline-block;
    font-size: 100px;
    /*border-radius: 55px; no funciona el redondeo */
    color: white;
    background: black;
    padding: 55px;
    width: 80px;
    box-shadow: 25px 25px 25px rgba(8, 8, 8, 0.5);
    margin: 12px;
   
   
    }
    
    .bigCounter{
        text-align: center;
        background: rgb(0, 0, 0);
    }
